<div id="ReviewList" >
  <h1 class="List_Title">Newest Remarks</h1>
   <% @hospis.each do |hospi| %>
      <div class="properties_list">
        <h2>Hospital:<%=hospi.remarkhospital%> </h2>
        <h3>Remark:<%=hospi.contents%> </h3>
        <h3>Ranking:<%=hospi.point%> </h3>
        <h3><%= link_to 'Details', "hospitalk/show/#{hospi.id}/#ItemDetail", method: :get %></h3>
      </div>
   <% end %>
   <h2><%= paginate(@hospis) %></h2>
</div>

