<div id="ReviewList" class="listings">
      <% @hospis.each do |hospi| %>
       <div class="wrapper">
           <ul class="properties_list">
            <li>
              <div class="property_details">
              <%= image_tag "hos1.png" %>
              <h2>Hospital:<%=hospi.remarkhospital%><span class="property_size"></span></h2>
                <h2>Remark:<%=hospi.contents%><span class="property_size"></span></h2>
                  <%= link_to 'Details about this review', "hospitalk/show/#{hospi.id}/#ItemDetail", method: :get %>
              </div>
            </li>
          </ul>
        </div>
       <% end %>
       <h2><%= paginate(@hospis) %></h2>
</div>