<div class="contents_list">
  <h1 class="leading_head">Results of hospitals you are looking for</h1>
   <% @hospis.each do |hospi| %>
    <div class="Contents_all clearfix">
     <% if user_signed_in? && current_user.id == hospi.user_id %>
        <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '編集', "/hospitalk/#{hospi.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/hospitalk/#{hospi.id}", method: :delete %>
          </li>
        </ul>
      </div>
     <% end %>
      <div class="left_box">
        <%= image_tag "hos1.png",:width => '90%' %>
      </div>
      <div class="right_box">
        <p class="stylist-name">Hospital:<%=hospi.remarkhospital%> </p>
        <p class="stylist-text">Remark:<%=hospi.contents%> </p>
        <p class="stylist-text">Ranking:<%=hospi.point%> </p>
        <p class="stylist-text">Ranking:<%=hospi.address%></p>
        <%= link_to 'Details', "hospitalk/show/#{hospi.id}", method: :get %>
      </div>
    </div>
   <% end %>

</div>
