  <div id="MyPage" class="contents row" >
   <p class="mypage_title"><%= @nickname %> has the following remarks:</p>
   <% @hospis.each do |hospi| %>
    <div class="Contents_all clearfix">
        <p class="stylist-name">Hospital:<%=hospi.remarkhospital%> </p>
        <p class="stylist-text">Remark:<%=hospi.contents%> </p>
        <p class="stylist-text">Ranking:<%=hospi.point%> </p>
        <%= link_to 'Details', "/hospitalk/show/#{hospi.id}/#ItemDetail", method: :get %>
        <% if user_signed_in? && current_user.id == hospi.user_id %>
        <div class="more">
        <ul class="more_list">
          <li>
            <%= link_to 'Edit', "/hospitalk/#{hospi.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to 'Delete', "/hospitalk/#{hospi.id}", method: :delete %>
          </li>
        </ul>
      </div>
     <% end %>
    </div>
   <% end %>
   <%= paginate(@hospis) %>
  </div>